aiodocker==0.21.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.8.0
amqp==5.1.1
aniso8601==9.0.1
anyio==3.6.1
asgiref==3.7.2
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==21.4.0
Authlib==1.0.1
auto-labeling-pipeline==0.1.21
Babel==2.10.3
backoff==2.1.2
bcrypt==3.2.2
billiard==3.6.4.0
blinker==1.4
boto3==1.24.11
botocore==1.27.11
cached-property==1.5.2
cachetools==5.2.0
celery==5.2.7
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
click-default-group==1.2.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.4
defusedxml==0.7.1
dj-database-url==0.5.0
dj-rest-auth==2.2.4
Django==4.2.3
django-celery-results==2.2.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-drf-filepond==0.4.1
django-filter==21.1
django-health-check==3.16.5
django-heroku==0.3.1
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.9
django-storages==1.12.3
djangorestframework==3.13.1
djangorestframework-xml==2.0.0
dnspython==2.2.1
doccano==1.7.0
drf-yasg==1.20.0
email-validator==1.2.1
environs==9.5.0
et-xmlfile==1.1.0
fasteners==0.17.3
filetype==1.0.13
Flask==2.1.2
Flask-BabelEx==0.9.4
Flask-Cors==3.0.10
Flask-Executor==0.10.0
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
flatten-dict==0.4.2
frozenlist==1.3.0
furl==2.1.3
google-api-core==2.8.2
google-auth==2.8.0
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
heroku==0.1.4
httpie==3.2.2
httptools==0.4.0
idna==3.3
inflection==0.5.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==3.2.0
kombu==5.2.4
lml==0.1.0
Mako==1.2.1
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.16.0
mdurl==0.1.2
meltano==2.2.0
meltano-flask-security==0.1.0
multidict==6.0.2
mysql-connector-python==8.0.29
mysqlclient==2.1.0
numpy==1.22.4
openpyxl==3.0.10
orderedmultidict==1.0.1
packaging==21.3
pandas==1.4.2
passlib==1.7.4
Pillow==9.2.0
portalocker==2.4.0
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
Pygments==2.15.1
pyhumps==3.7.2
pyparsing==3.0.9
pypiwin32==223
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==1.5
python-dotenv==0.20.0
python-gitlab==3.6.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==304
PyYAML==5.4.1
razorpay==1.3.0
requests==2.27.1
requests-toolbelt==0.9.1
rich==13.4.2
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
scikit-learn==1.1.1
scipy==1.8.1
seqeval==1.2.2
shortuuid==1.0.9
six==1.16.0
smtpapi==0.4.12
sniffio==1.2.0
snowplow-tracker==0.10.0
speaklater==1.3
SQLAlchemy==1.4.37
sqlparse==0.4.2
stripe==3.1.0
structlog==21.5.0
texttable==1.6.4
threadpoolctl==3.1.0
typing_extensions==4.2.0
tzdata==2021.5
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.9
urwid==2.1.2
uvicorn==0.17.6
vercel==0.2.1
vine==5.0.0
waitress==2.1.2
watchgod==0.8.2
wcwidth==0.2.5
websockets==10.3
Werkzeug==2.1.2
whitenoise==6.0.0
WTForms==3.0.1
yarl==1.7.2
